<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title is-5">  <%= customer.full_name %></p>
      <% if customer.image.present? %>
      <%= image_tag customer.image.variant(resize_to_limit: [280, 280]).processed  %>
          <% end %>
         <br><br><%= customer.phone_number %>
         <br> <br><%= customer.email_address %>
         <% if customer.notes.present? %>
          <br><br><strong>Notes: </strong><%= customer.notes %>
          <% end %>
      </div>

  </div>


</div>

